.footer {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    padding-top: 40px;
    padding-left: 150px;
    padding-bottom: 80px;
    background-color: #161616;
    color: white;
}

.footer-bg {
  width: 100%;
  background: #000;  /* PURE BLACK */
  color: white;
  padding: 30px 40px;
  position: relative;
  z-index: 1000;
  margin-top: 80px; /* adjust */
}

.footer-links {
    display: grid;
    text-decoration: underline;
    grid-template-columns: repeat(3, auto);
    gap: 8px;
    margin-top: 12px;
}

.footer-links p {
    margin: 2px 0;
    cursor: pointer;
    font-size: small;
}
#myDropdown{
    padding: 10px 5px;
    margin-top: 20px;
    display: inline-block;
    width: 100px;
    background: transparent;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    opacity: 0.5;
}
#myDropdown:hover{
    background-color: white;
    color: rgb(88, 88, 241);
}